* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  background: rgb(52, 54, 52);
  color: white;
  padding: 0.5rem 0.999rem;
  cursor: pointer;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 1.1rem;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(187, 210, 225);
}

.sidebar-toggle {
  position: fixed;
  top: 1.3rem;
  left: 1.4rem;
  background: transparent;
  border: transparent;
  font-size: 1.8rem;
  color: rgb(4, 38, 206);
  cursor: pointer;
  border: transparent;
}

/* 

=========
Modal
=========

*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.54);
  display: grid;
  place-items: center;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

.show-modal {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1.5s;
}

.modal-container {
  background-color: white;
  width: 85vw;
  height: 30vh;
  border-radius: 3px;
  max-width: 440px;
  display: grid;
  place-items: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: red;
  border: transparent;
  font-size: 1.3rem;
  cursor: pointer;
}

/* 

=========
Modal
=========

*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: wheat;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: red;
  transition: 0.3s linear all;
  transform: translateX(-100%);
}
.show-sidebar {
  transform: translateX(0);
}

@media screen and (min-width: 568px) {
  .sidebar {
    width: 400px;
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  place-items: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  height: 100px;
  border: red solid 1px;
}

.logo {
  border: rgb(12, 232, 159) solid 1px;
  font-size: 1.6rem;
}
.close-sidebar-btn {
  border: rgb(0, 229, 255) solid 1px;
  font-size: 1.6rem;
  background: transparent;
  color: red;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.links a {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: rgb(39, 35, 35);
  transition: all linear 0.23s;
  text-decoration: none;
  letter-spacing: 1px;
}

.links a:hover {
  color: rgb(26, 21, 21);
  background: rgb(174, 174, 239);
}

.links a svg {
  font-size: 1.1rem;
  color: rgb(21, 21, 25);
  margin-right: 1.1rem;
  transition: all linear 0.1s;
}

.links a svg:hover {
  color: rgb(12, 12, 18);
}

.social-links {
  display: flex;
  align-items: center;
  justify-self: center;
  padding-bottom: 3rem;
  list-style: none;
}

.social-links a {
  font-size: 1.4rem;
  color: rgb(11, 11, 239);
  margin: 0 0.7rem;
  transition: all linear 0.2s;
}

.social-links a:hover {
  color: #2626ec;
}
