/* 

=============
Variables
=============

*/

:root {
	/* primary red */
	--clr-primary-1: rgb(64, 0, 0);
	--clr-primary-2: rgb(79, 12, 12);
	--clr-primary-3: rgb(111, 17, 17);
	--clr-primary-4: rgb(142, 22, 22);
	--clr-primary-5: rgb(174, 26, 26);
	--clr-primary-6: rgb(206, 31, 31);
	--clr-primary-7: rgb(224, 49, 49);
	--clr-primary-8: rgb(229, 81, 81);
	--clr-primary-9: rgb(233, 113, 113);
	--clr-primary-10: rgb(243, 176, 176);

	/* Darker shades */
	--clr-secondary-1: rgb(1, 13, 18);
	--clr-secondary-2: rgb(5, 57, 80);
	--clr-secondary-3: rgb(1, 7, 9);
	--clr-secondary-4: rgb(12, 144, 203);
	/* Main color */
	--clr-secondary-5: rgb(14, 170, 241);
	/* Lighter shades */
	--clr-secondary-6: rgb(68, 189, 244);
	--clr-secondary-7: rgb(66, 188, 244);
	--clr-secondary-8: rgb(100, 201, 246);
	--clr-secondary-9: rgb(169, 225, 250);
	--clr-secondary-10: rgb(238, 249, 254);

	/* Dark grey used for headings */
	--clr-grey-1: rgb(9, 9, 9);
	--clr-grey-2: rgb(27, 27, 27);
	--clr-grey-3: rgb(43, 43, 48);
	--clr-grey-4: rgb(44, 44, 47);
	/* Grey used for paragraphs */
	--clr-grey-5: rgb(25, 27, 29);
	--clr-grey-6: rgb(137, 137, 137);
	--clr-grey-7: rgb(155, 155, 155);
	--clr-grey-8: rgb(222, 228, 233);
	--clr-grey-9: rgb(242, 242, 242);
	--clr-grey-10: rgb(244, 246, 248);
	--clr-white: #fff;
	--clr-black: #000;
	--transition: all ease-in-out 0.271s;
	--spacing-wide: 0.07em;
	--spacing-wider: 0.1em;
	--spacing-per: 0.01em;
	--shadow-sm: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-md: 0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
	--shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	--max-width-nav: 1492px;
	--max-width: 1292px;
	--fluid-width: 90vw;
	--underline-primary: rgb(14, 170, 241);
	--underline-secondary: rgb(224, 49, 49);
	--border-radius: 8px;
}

/* 

=============
Global styles
=============

*/

html {
	scroll-behavior: smooth;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--clr-grey-9);
	color: var(--clr-white);
	line-height: 1.4;
	font-size: 0.795rem;
	letter-spacing: var(--spacing-per);
}

h1,
h2,
h3,
h4 {
	line-height: 1.25;
	letter-spacing: var(--spacing);
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}

p {
	font-size: 1rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
	list-style-type: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

img {
	width: 100%;
	display: block;
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
		letter-spacing: var(--spacing-per);
	}
}

.btn {
	text-transform: capitalize;
	background-color: var(--clr-primary-5);
	color: var(--clr-white);
	padding: 0.685rem 2.4875rem;
	display: inline-block;
	transition: var(--transition);
	font-size: 1.09199875rem;
	letter-spacing: var(--spacing-wide);
	cursor: pointer;
	/* border: 2px solid transparent; */
	box-shadow: var(--shadow-lg);
	border-radius: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: transparent;
}

.btn:hover {
	background: var(--clr-primary-6);
}

.checking {
	margin: 4rem;
}

span {
	color: var(--clr-grey-1);
}
h1 > span {
	color: var(--clr-primary-5);
}

.underline {
	width: 5.5rem;
	height: 0.2125rem;

	background: var(--underline-secondary);
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 5rem 0;
}

.section-title {
	text-align: center;
	margin-bottom: 4rem;
	text-transform: capitalize;
}
.section-title h2 {
	text-transform: capitalize;
}

.section-center {
	width: 90vw;
	margin: 5rem auto;
	max-width: var(--max-width-nav);
}

@media screen and (min-width: 1192px) {
	.section-center {
		max-width: var(--max-width-nav);
	}
}

/* 

=============
Navbar style
=============

*/

body {
	background: var(--clr-grey-1);
}

nav {
	height: 5rem;
	background: var(--clr-grey-2);
	color: var(--clr-white);
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-center {
	display: flex;
	width: var(--fluid-width);
	/* max-width: var(--max-width-nav); */
	align-items: center;
	justify-content: space-between;
}

.logo {
	text-transform: none;
	letter-spacing: var(--spacing-wide);
	font-weight: 900;
	font-size: 1.8rem;
}

.toggle-btn {
	width: 2rem;
	height: 2rem;
	font-size: 1.6rem;
	background: var(--clr-white);
	border-color: transparent;
	border-radius: 3px;
	cursor: pointer;
	transition: var(--transition);
	display: flex;
	justify-content: center;
	align-items: center;
}

.toggle-btn:hover {
	transform: scale(1.09);
}

/* 

=============
Hero Style
=============

*/

.hero-container::before {
	content: "";
	position: fixed;
	width: 100%;
	height: 35vh;
	top: 0;
	left: 0;
	background: linear-gradient(
		rgba(134, 134, 134, 0.319),
		rgba(74, 74, 74, 0.369),
		rgba(19, 18, 18, 0.369)
	);
	z-index: -10;
}

.hero-container {
	display: grid;
	min-height: calc(100vh - 5rem);
	justify-items: center;
	align-items: center;
}

.hero-center {
	width: var(--fluid-width);
	max-width: var(--max-width);
	direction: rtl;
}

.hero-center h1 {
	font-size: clamp(2.4rem, 5vw, 4rem);
	line-height: 1.5;
	margin-bottom: 1rem;
	letter-spacing: var(--spacing-per);
}

.hero-center p {
	font-size: clamp(1rem, 5vw, 1.4rem);
	line-height: 1.7;
}

@media screen and (min-width: 992px) {
	.hero-center {
		text-align: center;
	}

	.hero-center p {
		max-width: 40em;
		margin: 0 auto;
	}

	.toggle-btn {
		display: none;
	}
}

/* 

=============
Sidebar
=============

*/

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: var(--clr-white);
	color: black;
	opacity: 0;
	visibility: hidden;
}

/* Toggle sidebar */
.show-sidebar {
	opacity: 1;
	visibility: visible;
	transition: var(--transition);
}

.sidebar-container {
	padding: 6rem 3rem;
	position: relative;
}
.close-btn {
	font-size: 2.5rem;
	background: transparent;
	border: transparent;
	color: var(--clr-primary-5);
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

.sidebar article {
	margin-bottom: 2rem;
	direction: rtl;
}

.sidebar h4 {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	color: var(--clr-primary-3);
}

.sidebar-sublinks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 0.8rem;
}

.sidebar-sublinks a {
	display: block;
	color: var(--clr-grey-3);
	font-size: 1.061rem;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-items: center;
	gap: 1rem;
}

.sidebar-sublinks svg {
	color: var(--clr-secondary-5);
}

@media screen and (min-width: 992px) {
	.sidebar {
		display: none;
	}

	.close-btn {
		display: none;
	}
}

/* 

=============
Nav Links
=============

*/

.nav-links {
	display: none;
}

@media screen and (min-width: 992px) {
	.nav-links {
		display: flex;
		justify-content: center;
		align-self: stretch;
	}
	.nav-center {
		display: grid;
		grid-template-columns: auto 1fr;
		align-self: stretch;
	}
	.nav-link {
		padding: 0 1rem;
		background: transparent;
		border: transparent;
		font-size: 1.25rem;
		text-transform: capitalize;
		letter-spacing: var(--spacing-per);
		cursor: pointer;
		color: var(--clr-white);
	}
}

/* 

=============
Submenu
=============

*/

.submenu {
	display: none;
}

@media screen and (min-width: 992px) {
	.submenu {
		position: fixed;
		display: block;
		top: 6rem;
		width: var(--fluid-width);
		background: white;
		left: 50%;
		padding: 2rem;
		transform: rotateX(-90deg) translateX(-50%);
		transform-origin: top;
		perspective: 1000px;
		visibility: hidden;
		opacity: 0;
		border-radius: var(--border-radius);
		transition: var(--transition);
		z-index: -2;
	}

	.show-submenu {
		opacity: 1;
		transition: var(--transition);
		visibility: visible;
		transform: rotateX(0deg) translateX(-50%);
		z-index: 11;
	}

	.submenu h5 {
		margin-bottom: 1rem;
		color: var(--clr-primary-4);
	}

	.submenu-links {
		display: grid;
		gap: 0.6rem;
	}

	.submenu-links a {
		display: block;
		color: var(--clr-grey-2);
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	.submenu-links svg {
		color: var(--clr-secondary-4);
	}
}
